<app-header (sidebarToggle)="toggleSidebar($event)"></app-header>
<div class="side-navbar" [class.open]="isSidebarOpen"></div>

    <div class="dashboard" [class.dashboard-shift]="isSidebarOpen">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
  
      <div class="dashboard-container">
  
        <!-- Dashboard Cards -->
        <div class="cards">
          <div class="card">
            <h3>Manage Sessions</h3>
            <p>View, add, or modify doctor sessions and appointments.</p>
          </div>
  
          <div class="card">
            <h3>Reports</h3>
            <p>Generate and view reports for session activity and user interactions.</p>
          </div>
  
          <div class="card">
            <h3>System Settings</h3>
            <p>Configure system preferences, roles, and other administrative settings.</p>
          </div>
  
          <div class="card">
            <h3>Manage Users</h3>
            <p>View and manage doctor, patient, and staff accounts.</p>
          </div>
        </div>
      </div>
    </div>

  
